<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AVCFAssetExportPresetAppleM4V720pHD</key>
	<dict>
		<key>Video</key>
		<dict>
			<key>videoMatrixHandling</key>
			<string>ApplyRotation</string>
			<key>maxHeight</key>
			<integer>720</integer>
			<key>maxWidth</key>
			<integer>1280</integer>
			<key>videoCodec</key>
			<integer>1635148593</integer>
			<key>maxFrameRate</key>
			<integer>30</integer>
			<key>videoAverageBitRate</key>
			<integer>7000000</integer>
			<key>encoderUsage</key>
			<integer>7</integer>
			<key>dataRateLimitSize</key>
			<integer>2500000</integer>
			<key>dataRateLimitDuration</key>
			<integer>1</integer>
			<key>allowFrameReordering</key>
			<true/>
		</dict>
		<key>Audio</key>
		<dict>
			<key>audioPreset</key>
			<string>Preset_AAC_44kHz_Stereo_256kbit</string>
		</dict>
	</dict>
	<key>AVCFAssetExportPresetAppleM4VAppleTV</key>
	<dict>
		<key>Video</key>
		<dict>
			<key>videoMatrixHandling</key>
			<string>ApplyRotation</string>
			<key>maxHeight</key>
			<integer>540</integer>
			<key>maxWidth</key>
			<integer>960</integer>
			<key>videoCodec</key>
			<integer>1635148593</integer>
			<key>maxFrameRate</key>
			<integer>30</integer>
			<key>videoAverageBitRate</key>
			<integer>3500000</integer>
			<key>encoderUsage</key>
			<integer>7</integer>
			<key>dataRateLimitSize</key>
			<integer>1750000</integer>
			<key>dataRateLimitDuration</key>
			<integer>1</integer>
			<key>allowFrameReordering</key>
			<true/>
		</dict>
		<key>Audio</key>
		<dict>
			<key>audioPreset</key>
			<string>Preset_AAC_44kHz_Stereo_256kbit</string>
		</dict>
	</dict>
	<key>AVCFAssetExportPresetAppleM4VAppleTVHiRes</key>
	<dict>
		<key>Video</key>
		<dict>
			<key>videoMatrixHandling</key>
			<string>ApplyRotation</string>
			<key>maxHeight</key>
			<integer>720</integer>
			<key>maxWidth</key>
			<integer>1280</integer>
			<key>videoCodec</key>
			<integer>1635148593</integer>
			<key>maxFrameRate</key>
			<integer>24</integer>
			<key>videoAverageBitRate</key>
			<integer>5000000</integer>
			<key>encoderUsage</key>
			<integer>7</integer>
			<key>dataRateLimitSize</key>
			<integer>1750000</integer>
			<key>dataRateLimitDuration</key>
			<integer>1</integer>
			<key>allowFrameReordering</key>
			<true/>
		</dict>
		<key>Audio</key>
		<dict>
			<key>audioPreset</key>
			<string>Preset_AAC_44kHz_Stereo_256kbit</string>
		</dict>
	</dict>
	<key>AVCFAssetExportPresetAppleM4ViPod</key>
	<dict>
		<key>Video</key>
		<dict>
			<key>videoMatrixHandling</key>
			<string>ApplyRotation</string>
			<key>maxHeight</key>
			<integer>480</integer>
			<key>maxWidth</key>
			<integer>640</integer>
			<key>videoCodec</key>
			<integer>1635148593</integer>
			<key>maxFrameRate</key>
			<integer>30</integer>
			<key>videoAverageBitRate</key>
			<integer>1500000</integer>
			<key>encoderUsage</key>
			<integer>6</integer>
			<key>dataRateLimitSize</key>
			<integer>534800</integer>
			<key>dataRateLimitDuration</key>
			<real>2.6</real>
			<key>allowFrameReordering</key>
			<false/>
		</dict>
		<key>Audio</key>
		<dict>
			<key>audioPreset</key>
			<string>Preset_AAC_44kHz_Stereo_128kbit</string>
		</dict>
	</dict>
</dict>
</plist>
