<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedFormatReaders</key>
	<array>
		<string>com.apple.coremedia.formatreader.quicktime-iso</string>
		<string>com.apple.coremedia.formatreader.audiofile</string>
		<string>com.apple.coremedia.formatreader.audiofilestream</string>
	</array>
	<key>AllowedMovieMIMETypes</key>
	<array>
		<string>audio/wav</string>
		<string>audio/wave</string>
		<string>audio/mpg</string>
		<string>audio/mpeg</string>
		<string>audio/mpeg3</string>
		<string>audio/mp3</string>
		<string>audio/mp4</string>
		<string>audio/mpegurl</string>
		<string>audio/aiff</string>
		<string>audio/scpls</string>
		<string>audio/x-wav</string>
		<string>audio/x-m4a</string>
		<string>audio/x-m4b</string>
		<string>audio/x-mp3</string>
		<string>audio/x-mpg</string>
		<string>audio/x-mpeg</string>
		<string>audio/x-mpeg3</string>
		<string>audio/x-m4r</string>
		<string>audio/x-m4p</string>
		<string>audio/x-aiff</string>
		<string>audio/x-mpegurl</string>
		<string>audio/x-scpls</string>
		<string>application/mp4</string>
		<string>application/vnd.apple.mpegurl</string>
		<string>video/quicktime</string>
		<string>video/mp4</string>
		<string>video/x-m4v</string>
	</array>
	<key>AllowedMovieFileTypes</key>
	<array>
		<string>m4v</string>
		<string>m4r</string>
		<string>mp3</string>
		<string>qt</string>
		<string>wav</string>
		<string>mqv</string>
		<string>m4a</string>
		<string>mp4</string>
		<string>mov</string>
		<string>aifc</string>
		<string>caf</string>
		<string>m4b</string>
		<string>m4p</string>
		<string>aif</string>
		<string>aac</string>
		<string>aiff</string>
		<string>m3u</string>
		<string>m3u8</string>
		<string>pls</string>
	</array>
	<key>ValidationType</key>
	<string>RejectIfUnrecognized</string>
	<key>TrackTypes</key>
	<array>
		<string>vide</string>
		<string>soun</string>
		<string>tmcd</string>
		<string>clcp</string>
		<string>sbtl</string>
		<string>odsm</string>
		<string>sdsm</string>
		<string>ChapterName</string>
	</array>
	<key>AudioCodecs</key>
	<array>
		<string>aac </string>
		<string>.mp3</string>
		<string>alac</string>
		<string>lpcm</string>
		<string>ac-3</string>
		<string>drms</string>
		<string>paac</string>
		<string>pac3</string>
	</array>
	<key>VideoCodecs</key>
	<array>
		<string>avc1</string>
		<string>mp4v</string>
		<string>jpeg</string>
		<string>png </string>
		<string>drmi</string>
	</array>
	<key>AudioCodecProfiles</key>
	<dict>
		<key>ac-3</key>
		<dict>
			<key>TrackMustBeDisabled</key>
			<true/>
		</dict>
		<key>pac3</key>
		<dict>
			<key>TrackMustBeDisabled</key>
			<true/>
		</dict>
	</dict>
	<key>VideoNoFrameReordering</key>
	<false/>
	<key>TimecodeMustBeInvisible</key>
	<true/>
	<key>VideoNoInterlacing</key>
	<true/>
</dict>
</plist>
